.navbar {
  background-size: 0;
  background-color: #000080;
}
.pe-3 {
  color: white;
  margin: 5px;
  padding-left: 15px;
  padding-bottom: 5px;
  padding-top: 2px;
  border-radius: 5px;
}
.pe-3:hover {
  background-color: #99989c;
  color: white !important;
}

.active {
  background-color: white;
  color: black !important;
}