.MDBNavbar {
  background-size: 0;
  background-color: #000080;
}
.pe-3 {
  color: white;
  padding-left: 12px;
  padding-bottom: 5px;
  padding-top: 2px;
  border-radius: 5px;
}
.pe-3:hover {
  background-color: #19045a;
  color: white !important;
}

.active {
  background-color: #00004d;
  color: white !important;
}
